<!-- Displays a data dump of all information to webpage
Designed to be an easy access to all the information to avoid making multiple api calls to see the overall plan -->
  <button id="call">Call</button>
<p class="return"><p>
  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>
  <p>Events: 
  	<ol>
  	{{#each events}}
  	<li><ul>
  		<p><b>Name:</b> {{title}} </p>
  		<p><b>Location:</b> {{location}} </p>
  		<p><b>Date:</b> {{date}} </p>
  		<p><b>Description:</b> {{description}} </p>
      <p><b>Latatude:</b> {{lat}}</p>
      <p><b>Longitude:</b> {{lng}}</p>
      <button value="delete" type="events" item_id="{{id}}">Delete: {{id}}</button>
  	</ul></li>
  	{{/each}}
  	</ol>
 </p>
 <p>Talks: 
  	<ol>
  	{{#each talks}}
  	<li><ul>
  		<p><b>Author:</b> {{author}} </p>
  		<p><b>Subject:</b> {{subject}} </p>
  		<p><b>Date:</b> {{date}} </p>
  		<p><b>Reference:</b> {{reference}} </p>
      <p><b>Full Verse:</b> {{fullVerse}}</p>
  		<p><b>Outline:</b>
  			<ol>
  				{{#each outline}}
  				<li>{{this}}</li>
  				{{/each}}
  			</ol>
  		</p>
      <button value="delete" type="talks" item_id="{{id}}">Delete: {{id}}</button>
  	</ul></li>
  	{{/each}}
  	</ol>
 </p>
 <p>Messages: 
  	<ol>
  	{{#each msgs}}
  	<li><ul>
  		<p><b>From:</b> {{from}} </p>
  		<p><b>To:</b> {{to}} </p>
      <p><b>Simple:</b> {{simpleTo}}</p>
  		<p><b>Date:</b> {{date}} </p>
  		<p><b>subject:</b> {{subject}} </p>
  		<p><b>Message:</b> {{message}} </p>
  	</ul></li>
    <button value="delete" type="messages" item_id="{{id}}">Delete: {{id}}</button>
  	{{/each}}
  	</ol>
 </p>
 <p>Signups: 
    <ol>
    {{#each signups}}
    <li><ul>
      <p><b>Name:</b> {{name}} </p>
      <p><b>Date Info:</b> {{dateInfo}} </p>
      <p><b>Member Count:</b> {{memberCount}}</p>
      <p><b>Location:</b> {{location}} </p>
      <p><b>address:</b> {{address}} </p>
      <p><b>Description:</b> {{description}} </p>
    </ul></li>
    <button value="delete" type="signups" item_id="{{id}}">Delete: {{id}}</button>
    {{/each}}
    </ol>
 </p>
 <p>Locations: 
    <ol>
    {{#each locs}}
    <li><ul>
      <p><b>Name:</b> {{name}} </p>
      <p><b>Address:</b> {{address}} </p>
      <p><b>Lat:</b> {{lat}} </p>
      <p><b>Lng:</b> {{lng}} </p>
    </ul></li>
    {{/each}}
    </ol>
 </p>
 <p>Topics: 
    <ol>
    {{#each topics}}
    <li><ul>
      <p><b>Name:</b> {{name}} </p>
      <p><b>Anonymous?:</b> {{isAnon}} </p>
    </ul></li>
    {{/each}}
    </ol>
 </p>
 <p>Users: 
    <ol>
    {{#each users}}
    <li><ul>
      <p><b>Name:</b> {{name}} </p>
      <p><b>Email:</b> {{email}} </p>
      <p><b>GCM:</b> {{gcm}} </p>
      <p><b>Groups:</b> {{groups}} </p>
    </ul></li>
    {{/each}}
    </ol>
 </p>
 <p>Groups: 
    <ol>
    {{#each groups}}
    <li><ul>
      <p><b>Name:</b> {{name}} </p>
      <p><b>Members:</b> {{members}} </p>
      <p><b>WriteTalks:</b> {{writeTalks}} </p>
      <p><b>WriteMsgs:</b> {{writeMsgs}} </p>
      <p><b>WriteEvents:</b> {{writeEvents}} </p>
    </ul></li>
    {{/each}}
    </ol>
 </p>