

  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>
  <p>Events: 
  	<ol>
  	{{#each events}}
  	<li><ul>
  		<p><b>Name:</b> {{title}} </p>
  		<p><b>Location:</b> {{location}} </p>
  		<p><b>Date:</b> {{date}} </p>
  		<p><b>Description:</b> {{description}} </p>
      <p><b>Latatude:</b> {{lat}}</p>
      <p><b>Longitude:</b> {{lng}}</p>
  		<p><b>Time to (sec):</b> {{to}}</p>
  	</ul></li>
  	{{/each}}
  	</ol>
 </p>
 <p>Talks: 
  	<ol>
  	{{#each talks}}
  	<li><ul>
  		<p><b>Author:</b> {{author}} </p>
  		<p><b>Subject:</b> {{subject}} </p>
  		<p><b>Date:</b> {{date}} </p>
  		<p><b>Reference:</b> {{reference}} </p>
      <p><b>Full Verse:</b> {{fullVerse}}</p>
  		<p><b>Outline:</b>
  			<ol>
  				{{#each outline}}
  				<li>{{this}}</li>
  				{{/each}}
  			</ol>
  		</p>
  	</ul></li>
  	{{/each}}
  	</ol>
 </p>
 <p>Messages: 
  	<ol>
  	{{#each msgs}}
  	<li><ul>
  		<p><b>From:</b> {{from}} </p>
  		<p><b>To:</b> {{to}} </p>
  		<p><b>Date:</b> {{date}} </p>
  		<p><b>subject:</b> {{subject}} </p>
  		<p><b>Message:</b> {{message}} </p>
  	</ul></li>
  	{{/each}}
  	</ol>
 </p>
 <p>Locations: 
    <ol>
    {{#each locs}}
    <li><ul>
      <p><b>Name:</b> {{name}} </p>
      <p><b>Address:</b> {{address}} </p>
      <p><b>Lat:</b> {{lat}} </p>
      <p><b>Lng:</b> {{lng}} </p>
    </ul></li>
    {{/each}}
    </ol>
 </p>